/a.core_concepts.md 
/b.multi_container_pods.md
/c.pod_design.md
/d.configuration.md 
/e.observability.md
/f.services.md
/g.state.md
/a.core_concepts.en.md 
/b.multi_container_pods.en.md
/c.pod_design.en.md
/d.configuration.en.md 
/e.observability.en.md
/f.services.en.md
/g.state.en.md
